body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.teamMember {
    display: flex;
    align-items: center;
}
.teamSection{
    align-items: center;
}
.teamContainer {
    margin: auto;
    text-align: center;
    display: block;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teamImage {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 8px;
}

.teamText {
    font-size: 16px;
    color: #333;
}

.introduction {
    position: relative;
    width: 70%;
    transform: translate(-50%);
    left: 50%;
}