h1{
  text-align: center;
}

p{
  text-align: center;
}

body{
  margin: 0;
}

.right {
  float:right;
}

nav {
  width:100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header{
  background-color: rgb(229, 174, 231);
  overflow: hidden;
}


.topnav {
  overflow: hidden;  background-color: #333;
  height: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.search {
  float:right;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #04AA6D;
  color: white;
}

footer {
  position: block;
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  background-color: DarkSalmon;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer{
  
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  margin:auto;
}

.container{
  margin:auto;
  text-align: center;
}

.containerTab {
  padding: 20px;
  color: white;
}

.textContainer {
  background-color: rgb(100, 72, 107);
  color:#04AA6D;
  width: 100%;
  padding: 20px;
}

.row{
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;;
  display: flex;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.col1{
  background-color: rgb(204, 96, 232);
}
.col2{
  background-color: rgb(154, 72, 174);
}
.col3{
  background-color: rgb(87, 41, 99);
}

#b1{
  display: none;
}
#b2{
  display: none;
}
#b3{
  display: none;
}

.logo-link {
  display: flex;
  align-items: center;
  border-radius: 25%;
  /* background-color: white;*/
  height: 20px;
  width: 20px;
  /*padding: 10px;*/
  /* box-sizing: border-box; */
}
.logo {
  height: 150%;
  margin: -5;
  /*padding: 10;*/
}

.slideshow{
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
  vertical-align: middle;
}

.mySlides {
  width: 100%;
  height: 500;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}